:root{
    --main-color: rgb(217, 227, 234);
    --second-color: rgb(155, 169, 180);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    background-color: rgb(21, 23, 25);
    font-family: "Inter", sans-serif;
}

p, h1,h2,h3,h4{
    margin: 0;
}
img{
    display: block;
}
button{
    display: block;
    cursor: pointer;
    border: none;
}
.list{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.link{
    text-decoration: none;
    color: currentColor;
}
.container{
    max-width: 1144px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


/* HEADER */
header{
    padding-top: 20px;
    padding-bottom: 20px;
}
header > .container{
    max-width: 1184px;
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sign-in{
    color: rgb(93, 93, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;

    display: inline-block;
    margin-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sign-in:hover,
.sign-in:focus{
    color: #fcfcfc;
}
.sign-up{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;

    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
    background-color: rgb(93, 93, 255);
}
.sign-up:hover,
.sign-up:focus{
    color:  rgb(93, 93, 255);
    background-image: linear-gradient(315deg, rgb(245, 245, 252), rgb(239, 235, 235));
    box-shadow:  -7px -7px 5px #131118,
             7px 7px 5px #000000;
}
.sign-up:active{
    background-image: linear-gradient(315deg, rgb(245, 245, 252), rgb(191, 191, 191));
}


/* HERO */
.hero{
    padding-top: 80px;
    padding-bottom: 64px;
}
.hero > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title{
    color: var(--main-color);
    font-size: 52px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.5px;
    text-align: center;

    margin-bottom: 16px;
}
.hero-txt{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: center;

    max-width: 680px;
    margin-bottom: 32px;
}
.hero-wrapper{
    display: flex;
    gap: 12px;
    margin-bottom: 64px;
}
.hero-btn{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;

    min-width: 164px;
    padding: 12px 32px;
    border-radius: 2px;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    background-color: rgb(93, 93, 255);
}
.hero-btn:hover,
.hero-btn:focus{
    color:  rgb(93, 93, 255);
    background-image: linear-gradient(315deg, rgb(245, 245, 252), rgb(239, 235, 235));
    box-shadow:  -7px -7px 5px #131118,
    7px 7px 5px #000000;
}
.hero-btn:active{
    background-image: linear-gradient(315deg, rgb(245, 245, 252), rgb(191, 191, 191));
}
.hero-link{
    color: rgb(197, 210, 220);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;

    padding: 12px 32px;
    border-radius: 2px;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    background-color: rgb(51, 54, 58);
}
.hero-link:hover,
.hero-link:focus{
    color:  #ededed;
    background-image: linear-gradient(315deg, rgba(51, 54, 58, 0.913), rgb(39, 42, 45));
    box-shadow:  -7px -7px 5px #131118,
             7px 7px 5px #000000;
}

.hero-img{
    opacity: 0.88;
    border-radius: 9px;
}

/* WORKFLOW */
.workflow{
    padding-top: 67px;
}
.workflow > .container{
    border-bottom: 1px solid rgb(51, 54, 58); 
    padding-bottom: 80px;
}
.workflow-title{
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;

    display: block;
    max-width: 768px;
    margin: 0 auto;
}
.owerflow-txt{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: center;

    display: block;
    max-width: 768px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
}
.workflow-list{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}
.workflow-wrap{
    color: rgb(255, 255, 255);
    width: 64px;
    height: 64px;
    background-color: rgb(93, 93, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
/* .workflow-wrap:hover,
.workflow-wrap:focus{
    background-color: #ffffff;
    color: rgb(93, 93, 255);
} */
.workflow-wrap > svg{
    width: 27px;
    height: 27px;
}
.workflow-list-item{
    flex-basis: calc((100% - 128px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workflow-item-img{
    margin-bottom: 16px;
}
.workflow-item-title{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -0.25px;
    text-align: center;
    margin-bottom: 8px;
}
.workflow-item-txt{
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: center;
}   
/* PRODUCT */
.product{
    padding-top: 80px;
}
.product-wrap{
    max-width: 186px;
    padding: 4px 12px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
    background: rgb(198, 246, 213);
    margin-left: auto;
    margin-right: auto;
}
.product-item-wrap{
    max-width: 500px;
}
.product-wrap > .txt{
    color: rgb(54, 162, 105);
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}

.product-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
    padding-top: 80px;
}
.product-list-item:nth-child(odd){
    flex-direction: row-reverse;
}
.product-list-item:last-child{
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(51, 54, 58); 

}
.product-title{
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}
.product-txt{
    max-width: 768px;
    text-align: center;
    margin: 0 auto;

    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
}

.product-wrap-pretitle{
    color: rgb(93, 93, 255);
    font-family: "Architects Daughter", cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 8px;
}
.product-wrap-title{
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.25px;
    text-align: left;
    margin-bottom: 10px;
}
.product-wrap-txt{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
    margin-bottom: 15px;
}
.mini-list-item{
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
    margin-bottom: 8px;
    list-style-image: url('../img/Path.svg');
}


/* TEAM */
.team{
    padding-top: 80px;
    padding-bottom: 80px;
}
.team-title{
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}
.team-txt{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    margin-bottom: 80px;
}


.team-list{
    display: flex;
    gap: 24px;
}
.team-list-item{
    padding: 24px;
    flex-basis: calc((100% - 48px) / 3);
}
.oval{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(93, 93, 255);
    margin-bottom: 16px;
}
.team-list-item:first-child .oval{
    background-image: url('../img/Oval.svg');
    background-size: cover;
}
.team-list-item:nth-child(2) .oval{
    background-image: url('../img/Oval\(1\).svg');
}
.team-list-item:last-child .oval{
    background-image: url('../img/Oval\(2\).svg');
}
.team-wrap{
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(51, 54, 58);
    margin-bottom: 20px;
}
.team-wrap-txt{
    color: var(--second-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
}
.name{
    color: rgb(217, 227, 234);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
}
.name > .slesh{
    color: rgb(51, 54, 58);
}
.name > .select{
    color: rgb(93, 93, 255);
}

/* FORMA */
.forma{
    padding-bottom: 65px;
}
.forma > .container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(93, 93, 255);
    padding: 65px 48px;
    max-width: 1104px;
}
.forma-wrap-title{
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: -0.25px;
    text-align: left;
    margin-bottom: 8px;
}
.forma-wrap-txt{
    color: rgb(226, 225, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.25px;
    text-align: left;
}


.forma-wrap2{
    display: flex;
    align-items: center;
    gap: 8px;
}
.forma-wrap-for-text{
    min-width: 320px;
    padding: 12px 16px;
    background-color: rgb(75, 74, 207);
    border: 1px solid rgb(141, 141, 255);
    border-radius: 2px;
}
.forma-wrap-for-text > .txt{
    color: rgb(171, 171, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
}

.forma-wrap2-btn{
    color: rgb(93, 93, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;

    padding: 12px 32px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
    background-color: rgb(244, 244, 255);
}
.forma-wrap2-btn:hover,
.forma-wrap2-btn:focus{
    color: rgb(244, 244, 255);
    background-color:  rgb(75, 74, 207);
}

/* FOOTER */
footer > .container{
    display: flex;
    gap: 168px;
    padding-bottom: 5px;
}
.footer-copyright{
    padding-top: 46px;
    max-width: 352px;
}
.footer-copyright-txt{
    color: var(--second-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.25px;
    text-align: left;
    margin-bottom: 63px;
}
.footer-copyright-author{
    color: rgb(155, 169, 180);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.footer-copyright-author > span{
    color: rgb(217, 227, 234);
}
.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-list-head{
    display: flex;
    gap: 81px;
    margin-bottom: 29px;
}
.footer-list-main-head:not(:last-child){
    margin-bottom: 4px;
}
.footer-list-main-head > a{
    color: rgb(155, 169, 180);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: left;
}

.footer-list-main-head:first-child > a{
    color: rgb(217, 227, 234);
}

.footer-list-main-head > a:hover{
    color: #ffffff;
}

.footer-list-icon{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.footer-icon-link{
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(37, 40, 44);
    color: #5D5DFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon-link:hover,
.footer-icon-link:focus{
    color: #dfdfdf;
    background-color: #5454de;
}
.footer-icon-link svg{
    width: 16px;
    height: 16px;
    fill: currentColor;
}